<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://www.youtube.com/channel/UCj_UY1MhAf44YILtjBQfN6A">YouTube</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://www.instagram.com/himanshukr115">Instagram</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://m.do.co/c/904d1c543bbd">Free 200$ </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> Download Code</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/playlist?list=PLTy86WdwsETnPua41fT1zonTyc-wXYtqX">Full Stack Web Development</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Css FrameWork
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLTy86WdwsETlPyg_G4F-YQN0WdCg_qPis">Tailwind Css</a></li>
              <li><a class="dropdown-item" href="https://getbootstrap.com/">Bootstrap</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://materializecss.com/">Materialize Css</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Css FrameWork
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://tailwindcss.com/">Tailwind Css</a></li>
              <li><a class="dropdown-item" href="https://getbootstrap.com/">Bootstrap</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://materializecss.com/">Materialize Css</a></li>
            </ul>
          </li>


         
        </ul>
       
      </div>
    </div>
  </nav>
