<%- include('./partials/header'); -%>
<%- include('./components/nav'); -%>

<div class="text-center">
    <img src="./img/topimg.png" class="rounded sizeimg" alt="...">
  </div>

  <figure>
    <blockquote class="blockquote">
      <p>A well-known quote, contained in a blockquote element.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Someone famous in <cite title="Source Title">Source Title</cite>
    </figcaption>
  </figure>
  <p class="usegooglefonts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sit perspiciatis earum aut placeat nostrum culpa temporibus sequi architecto, vero impedit excepturi. Praesentium tenetur illum eveniet deserunt quos delectus perferendis?  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sit perspiciatis earum aut placeat nostrum culpa temporibus sequi architecto, vero impedit excepturi. Praesentium tenetur illum eveniet deserunt quos delectus perferendis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sit perspiciatis earum aut placeat nostrum culpa temporibus sequi architecto, vero impedit excepturi. Praesentium tenetur illum eveniet deserunt quos delectus perferendis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sit perspiciatis earum aut placeat nostrum culpa temporibus sequi architecto, vero impedit excepturi. Praesentium tenetur illum eveniet deserunt quos delectus perferendis?</p>
  

<%- include('./partials/footer'); -%>